body{
  background-image: url("../pictures/scouting.png");
  background-repeat: no-repeat;
}
.btn{
  background-color: #dddddd;
  border: red;
  color: black;
  padding: 3px 3px;
  display: inline;
  font-size: 16px;
  margin: 5px 4px;
  cursor: pointer;
  position: absolute;
  opacity: 0.8;
}
.startingPos{
  display: block;
  text-align: center;
  height: 50px;
  width: 95px;
  left: 35px;
}
.pickup{
  height: 50px;
  width: 50px;
}
.port{
  height: 30px;
  width: 75px;
}
#modelbl{
  position: absolute;
  top: -25px;
  left: 400px;
  font-size: 30px;
  background-color: #F44336;
}
#port1{
  -webkit-transform: rotate(-30deg);
  top: 190px;
  left: 190px;
}
#port2{
  -webkit-transform: rotate(-90deg);
  top: 275px;
  left: 130px;
}
#port3{
  -webkit-transform: rotate(30deg);
  left: 190px;
  top: 370px;
}
#autoport1{
  -webkit-transform: rotate(-30deg);
  top: 190px;
  left: 190px;
}
#autoport2{
  -webkit-transform: rotate(-90deg);
  top: 275px;
  left: 130px;
}
#autoport3{
  -webkit-transform: rotate(30deg);
  left: 190px;
  top: 370px;
}
.boiler{
  height: 50px;
  width: 50px;
  top: 500px;
}
.davit{
    width: 50px;
    height: 50px;
    background: #000;
    border: solid 1px #000;
    border-radius: 50%
}
.gearbot{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0px;
}
#gb0{
  left: 0px;
  background: #00ff12;
}
#gb1{
  left: 30px;
}
#gb2{
  left: 60px;
}
#gb3{
  left: 90px;
}
.shotbot{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 75px;
}
#sb0{
  left: 0px;
  background: #00ff12;
}
#sb1{
  left: 30px;
}
#sb2{
  left: 60px;
}
#sb3{
  left: 90px;
}
.lowbot{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 150px;
}
#lb0{
  left: 0px;
  background: #00ff12;
}
#lb1{
  left: 30px;
}
#lb2{
  left: 60px;
}
#lb3{
  left: 90px;
}
.defendbot{
  position: absolute;
  height: 30px;
  width: 30px;
  top: 225px;
}
#db0{
  left: 0px;
  background: #00ff12;
}
#db1{
  left: 30px;
}
#db2{
  left: 60px;
}
#db3{
  left: 90px;
}
#db4{
  left: 120px;
}
#db5{
  left: 150px;
}
#gearlbl{

}
#shotlbl{

}
#lowGoallbl{

}
#defendlbl{

}
#commentslbl{

}
#commentsinput{

}
#mobizone{
  text-align: center;
  height: 520px;
  width: 150px;
  left: 200px;
  top: 35px;
}
#mobismall{
  height: 50px;
  width: 100px;
  display: none;
  top: 35px;
  left: 200px;
}
#highGoal{
  left: 35px;
}
#lowGoal{
  left: 100px;
}
#gearGroundField{
  height: 50px;
  width: 100px;
  top: 350px;
  left: 450px;
}
#ballGroundField{
  height: 50px;
  width: 100px;
  top: 150px;
  left: 450px;
}
#gearHumanLoad{
  top: 50px;
  left: 635px;
}
#ballHumanLoad{
  top: 50px;
  left: 690px;
}
#loadPos{
  top: 180px;
}
#middlePos{
  top: 240px;
}
#boilerPos{
  top: 300px;
}
#info{
  position: absolute;
  width: 100px;
  top: 150px;
  left: 800px;
}
#stationInfo{
  position: absolute;
  padding-left: 15px;
  width: 140px;
  height: 120px;
  left: 785px;
  top: 0px;
  margin: 10px;
  background-color: red;
}
#showauto{
  width: 50px;
  height: 50px;
  top: 500px;
  left: 620px;
}
#showtele{
  width: 50px;
  height: 50px;
  top: 500px;
  left: 680px;
}
#showform{
  width: 50px;
  height: 50px;
  top: 500px;
  left: 740px;
}
#submitbtn{
  width: 100px;
  height: 50px;
  top: 500px;
  left: 800px;
  background-color: #ff12aa;
  display: none;
}
#davit1{
  top: 180px;
  left: 310px;
}
#davit2{
  top: 270px;
  left: 350px;
}
#davit3{
  top: 360px;
  left: 310px;
}
#hangSuccessbtn{
  display: block;
  height: 50px;
  width: 70px;
  top: 315px;
  left: 700px;
}
#hangEndbtn{
  height: 50px;
  width: 70px;
  top: 250px;
  left: 700px;
}

#miscdiv{
  position: absolute;
  display: none;
  width: 150px;
  top: 100px;
  left: 400px;
  color: #fff;
}
#submitform{
  opacity: 1;
  background-color: #00ff12;
}
#next{
  display: none;
}
#autodiv{
  display: block;
}
#telediv{
  display: none;
}
#submitiondiv{
  display: block;
}
#miscdiv{
  display: none;
}
#nextmatch{
  top: 400px;
  left: 400px;
  opacity: 0.8;
  background-color: #ddd;
}
