body{
  font-family: Roboto, sans-serif;
}
#scouting-column{
  position: absolute;
  right: 0;
  width: 650px;
  /* overflow: hidden; */
}
#info-column{
  width: 310px;
  float: left;
  height: 100%;
}

#state-info{
  height: 90px;
  padding: 5px;
  border-radius: 3px;
  border: solid 2px;
}

#game-piece-img{
  height: 85%;
  padding: 1%;
  border-radius: 15px;
  float: right;
}

.table-icon{
  float: left;
  padding: 3%;
  height: 35px;
  border-radius: 15px;
}