doctype html
html
  head
    title 404 - Page Not Found
    link(rel='shortcut icon', href='/assets/pictures/188favicon.png')
    link(rel='stylesheet', href='/assets/generated-css/stylesheet.css')
    //link(rel='import', href='views/robot.pug')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/jquery-3.0.0.min.js')
    script(src='/javascripts/home.js')

    body.none.fill(style='background-image: url(https://imgur.com/zRYTpvO.jpg);')#body

    .padding-m

    div.page.mdc-card.margin-v-b.padding-b
      h1.primary.none-m.center Whoops!
      h2.accent.none-m.center This page does not exist
      a(href='/')
        h2.accent.none-m.center='< ' + 'Home'
      

    

    div.mdc-card.navbar-container#navbar-container
      ul.mdc-list.navbar
        each item in menu
          li.mdc-list-item.f-left.navbar-item
            a.center.fill.no-decor.text-on-primary(href=item.url)=item.name
      .clear
        
    script(src='scripts/material-components-web.js')
    script.
      mdc.autoInit()
