doctype html
html
  head
    title Team 188
    link(rel='stylesheet', href='assets/generated-css/stylesheet.css')
    script(src='/javascripts/jquery-3.0.0')
  body(style='font-family: "Slabo", "sans-serif";')
    h1.mdc-theme--primary.mdc-typography--display2 Team 188 website test
    h1.mdc-theme--primary.mdc-typography--display1 Hello, World!
    button.mdc-button.mdc-button--raised.mdc-button--primary(type='button')
      Press Me
    div.mdc-card.mdc-theme--primary-bg
      h1 adkjasldkjaslkdjaslkdj
