doctype html
html
  head
    title Team 188
    //link(rel='stylesheet', href='node_modules/material-components-web/dist/material-components-web.css')
    link(rel='stylesheet', href='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css')
    script(src='/javascripts/jquery-3.0.0')
  body(style='background-color: #fc4141; font-family: "Slabo", "sans-serif";')
    h1.mdc-typography--display2 Team 188 website test
    h1.mdc-typography--display1 Hello, World!
    button.mdc-button.mdc-button--raised.mdc-button--primary(type='button')
      Press Me
