doctype html
html
  head
    title Team 188
    link(rel='stylesheet', href='/assets/generated-css/stylesheet.css')
    link(rel='import', href='component.html')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/jquery-3.0.0.min.js')
    script(src='/javascripts/robot.js')
      body.none.fill(style='background-image: url(https://imgur.com/zRYTpvO.jpg);')#body


    div.page.mdc-card.margin-v-b.relative
      .robot#robot
        .robot-pic(style='background-image: url(' +  robot.image + ');')
        .robot-info
          h1.primary.margin-v-b=robot.name + ' (' + robot.year + ')'
          each spec in robot.specs
            .fill-w.margin-v-m
              h2.accent.none=spec.name
              each detail in spec.details
                h4.robot-detail.f-left.margin-s.padding-s.text-s=detail
              .clear

        //- div.absolute.fill
        //-   button.fill-v.none.material-icons.f-left.accent-bg.opacity-hover.text-on-primary(onclick = 'prev();') keyboard_arrow_left
        //-   button.fill-v.none.material-icons.f-right.accent-bg.opacity-hover.text-on-primary(onclick = 'next();') keyboard_arrow_right
        //-   .clear
            
    //- div.center
    //-   p.margin-s Team 188	&copy 2017

    //navbar
    div.mdc-card.navbar-container
      ul.mdc-list.navbar
        each item in menu
          li.mdc-list-item.f-left.navbar-item
            a.center.fill.no-decor.text-on-primary(href=item.url)=item.name
      .clear

    script(src='scripts/material-components-web.js')
    script.
      mdc.autoInit()
