doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='../assets/generated-css/scouting.css')
    title 188 Scout
  script(src='/javascripts/scouting.js')
  script(src='/javascripts/jquery-3.0.0.min.js')
  body
    #sidebar
      #stationInfo
        p
          | Station:
          span#stationlbl=station
        p
          | Team:
          span#teamNumberlbl=teamNumber
        p
          | Match Number:
          span#matchNumberlbl=matchNumber
      #info
        p
          | Gears Pickup Total:
          span#gearsAcquiredlbl
        p
          | Gears Scored Total:
          span#gearsScoredlbl
        p
          | Pressure:
          span#pressurelbl
        p
          | Total Balls Scored:
          span#ballScoredlbl
    script(type='text/javascript').
      updateStation(station);
    #autodiv
      #startingPosdiv
        button#loadPos.startingPos.btn(type='button', value='load', onclick='startLoad()')  LOAD
        button#middlePos.startingPos.btn(type='button', value='middle', onclick='startMid()')  MIDDLE
        button#boilerPos.startingPos.btn(type='button', value='boiler', onclick='startBoiler()')  BOILER
      #autoBallScore
        button#highGoal.boiler.btn(type='button', value='high', onclick='autoScoreHigh()')  High
        button#lowGoal.boiler.btn(type='button', value='low', onclick='autoScoreLow()')  Low
      #autoPickupdiv
        button#gearGroundField.pickup.btn(type='button', value='true', onclick='autogearField()') GEAR
        button#ballGroundField.pickup.btn(type='button', value='true', onclick='autoballField()') BALL
      #autoport
        button#port1.port.btn(type='button', value='true', onclick='autoport1()')
        button#port2.port.btn(type='button', value='true', onclick='autoport2()')
        button#port3.port.btn(type='button', value='true', onclick='autoport3()')
      #mobilitydiv
        button#mobizone.mobility.btn(type='button', value='true', onclick='autoMobility()') MOBILITY
        button#mobismall.mobility.btn(type='button', value='true', onclick='changeMobility()')
    #telediv
      #ballScore
        button#highGoal.boiler.btn(type='button', value='high', onclick='scoreHigh()')  High
      #pickup
        button#gearGroundField.pickup.btn(type='button', value='true', onclick='gearField()') GEAR
        button#ballGroundField.pickup.btn(type='button', value='true', onclick='ballField()') BALL
        button#gearHumanLoad.pickup.btn(type='button', value='true', onclick='gearLoad()') GEAR
        button#ballHumanLoad.pickup.btn(type='button', value='true', onclick='ballLoad()') BALL
      #port
        button#port1.port.btn(type='button', value='true', onclick='port1()')
        button#port2.port.btn(type='button', value='true', onclick='port2()')
        button#port3.port.btn(type='button', value='true', onclick='port3()')
      #endgame
        button#davit1.davit.btn(type='button', value='true', onclick='hang1()')
        button#davit2.davit.btn(type='button', value='true', onclick='hang2()')
        button#davit3.davit.btn(type='button', value='true', onclick='hang3()')
        button#hangEndbtn.btn(type='button', value='true', onclick='hangtime()') Hang End
        button#hangSuccessbtn.btn(type='button', value='true', onclick='hangSuccess()') Hang Success
    #submitiondiv
      #telebtn
        button#showtele.btn(type='button', value='true', onclick='showTele()') Tele
      #autobtn
        button#showauto.btn(type='button', value='true', onclick='showAuto()') Auto
      #miscbtn
        button#showform.btn(type='button', value='true', onclick='showForm()') Misc
      #miscbtn
        button#submit.btn(type='button', value='true', onclick='scoreForm()') SUBMIT
    #miscdiv
      span  Gear Bot
      input#gearBot(type='range', min='0', max='3', step='1', onchange='updategearlbl()')
      span#gearlbl
      span  Shot Bot
      input#shotBot(type='range', min='0', max='3', step='1', onchange='updateshotlbl()')
      span#shotlbl
      span  Defend Bot
      input#defendBot(type='range', min='0', max='5', step='1', onchange='updatedeflbl()')
      span#defendlbl
      span  Comments
      input#commentsinput(type='text')
    #next
      button#nextmatch.btn(type='button', value='true', onclick='nextMatch()') Next Match
