doctype html
html
  head
    title About
    link(rel='stylesheet', href='assets/generated-css/stylesheet.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='/javascripts/jquery-3.0.0.min.js')
      body.none.fill(style='background-image: url(https://imgur.com/zRYTpvO.jpg);')#body
    div.page.mdc-card.margin-v-b.padding-b
      each index in paras
        h1.none.primary=index.title
        p.margin-b=index.para


    div.mdc-card.navbar-container
      ul.mdc-list.navbar
        each item in menu
          li.mdc-list-item.f-left.navbar-item
            a.center.fill.no-decor.mdc-theme--text-primary-on-primary(href=item.url)=item.name
      .clear
    script(src='scripts/material-components-web.js')
    script.
      mdc.autoInit()
