exb0doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no')
    link#pagestyle(rel='stylesheet', href='../assets/generated-css/scouting.css')
    title 188 Scout
  script(src='/javascripts/scouting.js')
  script(src='/javascripts/jquery-3.0.0.min.js')
  body
    #bg
    #stationInfo
        strong Station:      
        span#stationlbl=station
    #matchInfo
        strong Team:  
        span#teamNumberlbl=teamNumber
        strong                 Match:
        span#matchNumberlbl=number
    #info
      p#infoBlock
        | Cube Pickup Total:
        span#cubesAcquiredlbl
      p#infoBlock
        | Cube Scored Total:
        span#cubesScoredlbl
      p#infoBlock
        | Holding Cube:
        span#holdingCube

    script(type='text/javascript').
      updateStation(station);

    p#modelbl
      | AUTO MODE

    p#modebtmlbl

    #autodiv
      #startingPosdiv
        button#farPos.startingPos.btn(type='button', value='far', onclick='startFar()')  FAR
        button#middlePos.startingPos.btn(type='button', value='middle', onclick='startMid()')  MIDDLE
        button#nearPos.startingPos.btn(type='button', value='near', onclick='startNear()')  NEAR
      #autoPickupdiv
        button#autoPyramid.pickup.btn(type='button', value='true', onclick='autoPyramid()') 
        button#autoGround.pickup.btn(type='button', value='true', onclick='autoGround()') 
      #autoplatform
        button#autoSwitchFar.platform.btn(type='button', value='true', onclick='autoSwitchFar()')
        button#autoSwitchNear.platform.btn(type='button', value='true', onclick='autoSwitchNear()')
        button#autoScaleFar.platform.btn(type='button', value='true', onclick='autoScaleFar()')
        button#autoScaleNear.platform.btn(type='button', value='true', onclick='autoScaleNear()')
      #autoExchangeDiv
        button#autoExchange.btn(type='button', value='true', onclick='autoExchange()')
      #mobilitydiv
        button#mobibtn.mobility.btn(type='button', value='true', onclick='changeMobility()') MOBILITY
        button#countdownbtn.countdown.btn(type='button', value='true', onclick='startTimer()') 3 2 1 POWER UP 
    #telediv 
      #platform 
        button#ownSwitchFar.platform.btn(type='button', value='true', onclick='ownSwitchFar()')
        button#ownSwitchNear.platform.btn(type='button', value='true', onclick='ownSwitchNear()')
        button#scaleFar.platform.btn(type='button', value='true', onclick='scaleFar()')
        button#scaleNear.platform.btn(type='button', value='true', onclick='scaleNear()')
        button#oppSwitchFar.platform.btn(type='button', value='true', onclick='oppSwitchFar()')
        button#oppSwitchNear.platform.btn(type='button', value='true', onclick='oppSwitchNear()')
      #pickupZone
        button#zone1.pickup.btn(type='button', value='true', onclick='zone1()') 
        button#zone2.pickup.btn(type='button', value='true', onclick='zone2()') 
        button#zone3.pickup.btn(type='button', value='true', onclick='zone3()') 
        button#zone4.pickup.btn(type='button', value='true', onclick='zone4()') 
        
      #huamnLoad
        button#humanLoadFar.pickup.btn(type='button', value='true', onclick='humanLoadFar()') 
        button#humanLoadNear.pickup.btn(type='button', value='true', onclick='humanLoadNear()') 
      #exchangeDiv
        button#exchange.exchange.btn(type='button', value='true', onclick='teleExchange()')
    #submitiondiv
      //- #localbtn
      //-   button#showLocal.btn(type='button', value='true', onclick='showLocal()') LOCAL
      #telebtn
        button#showtele.btn(type='button', value='true', onclick='showTele()') TELE
      #autobtn
        button#showauto.btn(type='button', value='true', onclick='showAuto()') AUTO
      #miscbtn
        button#showform.btn(type='button', value='true', onclick='showForm()') MISC
      #submitdiv
        button#submitbtn.btn(type='button', value='true', onclick='scoreForm()') SUBMIT
    #miscdiv

      #endGameDiv
        button#parkbtn.btn(type='button', value='true', onclick='changePark()') Park
        button#hangbtn.btn(type='button', value='true', onclick='hang()') Hang
        span#noCarriedlbl  Number of Robots Carried:
        #nocarriedbtn
          button#noCb0.nocarried.btn(type='button', value='0', onclick='setValue(noCb0, noCb1,noCb2,"nocarried")') 0
          button#noCb1.nocarried.btn(type='button', value='1', onclick='setValue(noCb1,noCb0,noCb2,"nocarried")') 1
          button#noCb2.nocarried.btn(type='button', value='2', onclick='setValue(noCb2,noCb0,noCb1,"nocarried")') 2
        button#carriedbtn.btn(type='button', value='true', onclick='changeCarried()') Carried

      #miscInfodiv
        span#switchlbl  Switch Bot
        #switchbotbtn
          button#swb0.switchbot.btn(type='button', value='0', onclick='setValue(swb0,swb1,swb2,"switch")') 0
          button#swb1.switchbot.btn(type='button', value='1', onclick='setValue(swb1,swb0,swb2,"switch")') 1
          button#swb2.switchbot.btn(type='button', value='2', onclick='setValue(swb2,swb0,swb1,"switch")') 2

        span#scalelbl  Scale Bot
        #scalebotbtn
          button#scb0.scalebot.btn(type='button', value='0', onclick='setValue(scb0,scb1,scb2,"scale")') 0
          button#scb1.scalebot.btn(type='button', value='1', onclick='setValue(scb1,scb0,scb2,"scale")') 1
          button#scb2.scalebot.btn(type='button', value='2', onclick='setValue(scb2,scb0,scb1,"scale")') 2

        span#exlbl  Exchange Bot
        #exchangebtn
          button#exb0.exbot.btn(type='button', value='0', onclick='setValue(exb0,exb1,exb2,"low")') 0
          button#exb1.exbot.btn(type='button', value='1', onclick='setValue(exb1,exb0,exb2,"low")') 1
          button#exb2.exbot.btn(type='button', value='2', onclick='setValue(exb2,exb0,exb1,"low")') 2

        span#defendlbl  Defend Bot
        #defendbotbtn
          button#db0.defendbot.btn(type='button', value='0', onclick='setDefValue(db0,db1,db2,db3,db4,db5)') 0
          button#db1.defendbot.btn(type='button', value='1', onclick='setDefValue(db1,db0,db2,db3,db4,db5)') 1
          button#db2.defendbot.btn(type='button', value='2', onclick='setDefValue(db2,db0,db1,db3,db4,db5)') 2
          button#db3.defendbot.btn(type='button', value='3', onclick='setDefValue(db3,db0,db1,db2,db4,db5)') 3
          button#db4.defendbot.btn(type='button', value='4', onclick='setDefValue(db4,db0,db1,db2,db3,db5)') 4
          button#db5.defendbot.btn(type='button', value='5', onclick='setDefValue(db5,db0,db1,db2,db3,db4)') 5

        span#commentslbl  Comments
        input#commentsinput(type='text')
      
  #localSubmissions
        
