doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='/assets/generated-css/stylesheet.css')
    link#pagestyle(rel='stylesheet', href='../assets/generated-css/scouting.css')
    title Team View
  script(src='/javascripts/jquery-3.0.0.min.js')
  body.none
    //- script(src="https://unpkg.com/react@16/umd/react.production.min.js", crossorigin='anonymous')
    //- script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js", crossorigin='anonymous')
    
    script(src="https://unpkg.com/react@16/umd/react.development.js")
    script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
    script(src="https://kryogenix.org/code/browser/sorttable/sorttable.js")
    script(src="https://unpkg.com/@material-ui/core/umd/material-ui.development.js" crossorigin='anonymous')
    script(src='/react-components/TeamView.js')
  


    #team_view.none

    script(type='text/javascript').
      props = JSON.parse('!{JSON.stringify(props)}')
      window.onload = function(){
        ReactDOM.render(e(App, props), document.getElementById('team_view'));
      }
